*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --shade1:#111;
  --shade2:#222;
  --shade3:#333;
  --shade4:#444;
  --shade5:#555;
  --color1:#00f;
  --color2:#0cf;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

